.imgHolder {
   display: block;
   //max-width: 500px;
   width:50%;
   //height:50%;
}

@media (max-width: 800px) {
	.imgHolder{
		width:100%;
		margin:0 0 0 0;
		max-width: auto;
	}
	#mySelect{
		width: 100%;
	}

	#textholder {
  display: flex;
  justify-content: space-between;
}

}
